* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(assest/img/bg.png) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 20%;
    background-color: black;
    border-radius: 10px;
}

.form-container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    padding: 17% 0;
    border-radius: 10px 0 0 10px;
}

form {
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px ;
}

form h1 {
    text-align: center;
    color: #606060;
    font-size: 30px;
    margin-bottom: 20px;
}

input[type=text],
input[type=password] {
    padding: 10px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

form button {
    background-color: #39AFD5;
    color: white;
    padding: 10px 40px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.anh-MinhHoa {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 15% 0;
    justify-content: center;
    align-items: center;
}

.anh-MinhHoa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}