@model List<PBL3.Models.DonDatMon>
<div class="DanhSachMon">
    <div class="text-center p-3 " style="text-decoration:none">
        Danh Sách Order
        @if (Model != null)
        {
            foreach(var item in Model)
            {
                <div><a onclick="ShowDs(@item.DonDatMonId)">#@item.DonDatMonId</a></div>
            }
        }
    </div>
</div>
<div class="BartendFunctions">
    <div class="tab">
        <button class="tablinks active" id="order-tab" onclick="openTab(event, 'Status')" style="color: white;">Danh sách món</button>
        <button class="tablinks" id="recipes-tab" onclick="openTab(event, 'Recipes')" style="color: white;">Công thức</button>
        <button class="tablinks" onclick="openTab(event, 'Igredients')" style="color: white;">Nguyên liệu</button>

    </div>

    <!-- Tab content -->
    <div id="Status" class="tabcontent" style="display:block">
        
    </div>
    <div id="Recipes" class="tabcontent">
        
    </div>
    <div id="Igredients" class="tabcontent">
        <p>Danh sách và số lượng nguyên liệu còn trong kho</p>
        <table>
            <thead>
            <th>
                Tên nguyên liệu
            </th>
            <th>Số lượng</th>
            <th>Đơn vị tính</th>
            </thead>
            <tbody>
                <tr>
                    <td>cà phê</td>
                    <td>50</td>
                    <td>gram</td>
                </tr>
                <tr>
                    <td>đường</td>
                    <td>1000</td>
                    <td>gram</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-success m-1 align-self-center "> Báo cáo số liệu</button>
        </div>
    </div>
</div>

<script src="~/Adminassets/js/tabs.js"></script>
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        // ẩn tất cả các nội dung tab
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // loại bỏ lớp "active" từ tất cả các nút tab
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        // hiển thị nội dung tab được chọn và đặt lớp "active" cho nút tab tương ứng
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        if (tabName == "Recipes") {
            document.getElementById("recipes-tab").className += " active";
        }
        if (tabName == "Status") {
            document.getElementById("order-tab").className += " active";
        }
    }
    function ShowDs(id) {
        openTab(event, 'Status');
        $.ajax({
            url: `/bartender/home/ShowDanhSach/${id}`,
            type: "POST",
            success: function (result) {
                // Đưa kết quả trả về vào một thẻ <div> có id là "result-container"
                $("#Status").html(result);


            }
        });
    }
    function ShowCongThuc(id){
        openTab(event, 'Recipes');
        // update the content of the "Recipes" tab with the recipe data
        $.ajax({
            url: `/bartender/home/ShowCongThuc/${id}`,
            type: "GET",
            success: function (recipes) {
               
                $("#Recipes").html(recipes);
            }
        });

        // update the active tab to be "Status" tab again
        //var tablinks = document.getElementsByClassName("tablinks");
        //for (var i = 0; i < tablinks.length; i++) {
        //    if (tablinks[i].id == "recipes-tab") {
        //        tablinks[i].classList.remove("active");
        //        break;
        //    }
        //}
        //document.getElementById("Status").style.display = "block";
    }
</script>