@model List<Tuple<Mon, int>>
<p>Danh sách món</p>
<div class="justify-content-between m-1">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
                <div class="row">
                    <div class="col-6">
                        <div class="text-center col-3"> </div>
                        <div class="text-center col-2">@item.Item2 </div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-danger">Hủy đơn</button>
                        <button class="btn btn-sm btn-success mx-2">Hoàn thành</button>
                        <button class="btn btn-sm btn-warning" onclick="openTab(event, 'Recipes')">Xem công thức</button>
                    </div>
                </div>
                
          
        }
    }
</div>
