@model List<Tuple<NguyenLieu, int>>
   <p>Công thức món đang làm</p>
   <table>
       <thead>
           <th>Tên nguyên liệu</th><th>Số lượng</th><th>Đơn vị tính</th>
       </thead>
       <tbody>
        @if (Model != null)
        {
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Item1.TenNguyenLieu</td>
                    <td>@i.Item2</td>
                    <td>@i.Item1.DonViTinh</td>
                </tr>
            }

        }
       </tbody>
   </table>   

