@model PBL3.Models.Mon

@{
    ViewData["Title"] = "Thêm món";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Mons" asp-action="Index">Quản lí món</a>
            <span class="breadcrumb-item active">Thêm món</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenMon" class="control-label"></label>
                <input asp-for="TenMon" class="form-control" />
                <span asp-validation-for="TenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiMonId" class="control-label"></label>
                <select asp-for="LoaiMonId" class="form-control" asp-items="ViewBag.LoaiMonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CongThucId" class="control-label"></label>
                <select asp-for="CongThucId" class="form-control" asp-items="ViewBag.CongThucId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input type="file" name="fthumb" asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



