@model PBL3.Models.CaLam

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Tạo Ca Làm</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenCa" class="control-label">Tên Ca</label>
                <input asp-for="TenCa" class="form-control" />
                <span asp-validation-for="TenCa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianBatDau" class="control-label">Thời Gian Bắt Đầu</label>
                <input asp-for="ThoiGianBatDau" class="form-control" />
                <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianKetThuc" class="control-label">Thời Gian Kết Thúc</label>
                <input asp-for="ThoiGianKetThuc" class="form-control" />
                <span asp-validation-for="ThoiGianKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

