@model PBL3.Models.HoaDon

@{
    ViewData["Title"] = "Chỉnh sửa hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="HoaDons" asp-action="Index">Quản lí hóa đơn</a>
            <span class="breadcrumb-item active">Cập nhật hóa đơn</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HoaDonId" />
            <input type="hidden" asp-for="ThoiGianTao" class="form-control" />
            <input type="hidden" asp-for="TongTien" class="form-control" />
            <input type="hidden" asp-for="NhanVienId" class="form-control" />
            <div class="form-group">
                <p>Trạng thái thanh toán:</p>
                <label for="TrangThaiThanhToan" class="control-label">Đã thanh toán</label>
                <input asp-for="TrangThaiThanhToan" class="form-control" value="True" type="radio" />
                <label for="TrangThaiThanhToan" class="control-label">Chưa thanh toán</label>
                <input asp-for="TrangThaiThanhToan" class="form-control" value="false" type="radio" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

