@model PBL3.Models.NhaCungCap

@{
    ViewData["Title"] = "Cập nhật nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="NhaCungCaps" asp-action="Index">Quản lí nguyên liệu</a>
            <span class="breadcrumb-item active">Chỉnh sửa nhà cung cấp</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NhaCungCapId" />
            <div class="form-group">
                <label asp-for="TenNhaCungCap" class="control-label"></label>
                <input asp-for="TenNhaCungCap" class="form-control" />
                <span asp-validation-for="TenNhaCungCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

