@model PBL3.Models.NhanVien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex justify-content-between w-100">
                <div style="width:46%">
                    <div class="form-group">
                        <label class="control-label mt-3"> Tên nhân viên</label>
                        <input asp-for="TenNhanVien" class="form-control" placeholder="Nhập tên nhân viên" />
                        <span asp-validation-for="TenNhanVien" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label mt-3"> Địa chỉ</label>
                        <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label class="control-label mt-3">Người quản lí</label>
                        <select asp-for="NhanVienQl" class="form-control" asp-items="ViewBag.NhanVienQl">
                            <option value="-1" disabled selected>Chọn người quản lí</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label mt-3">Tài khoản</label>
                        <label class="text-danger" for="TaiKhoan1" style="display:block">@ViewBag.TrungTaiKhoan</label>
                        <input id="TaiKhoan1" name="TaiKhoan1" value="@ViewBag.TaiKhoan.TaiKhoan1" class="form-control" />

                    </div>
                    
                </div>
                <div style="width:46%">
                    <div class="form-group">
                        <label class="control-label mt-3"> Số điện thoại</label>
                        <input asp-for="Sdt" class="form-control" placeholder="Nhập số điện thoại" />
                        <span asp-validation-for="Sdt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label a class="control-label mt-3"> Loại nhân viên</label>
                        <select asp-for="LoaiNv" class="form-control" asp-items="ViewBag.LoaiNv">
                            <option value="-1" disabled selected>Chọn loại nhân viên</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label mt-3"> Ca làm việc</label>
                        <select asp-for="CaId" class="form-control" asp-items="ViewBag.CaId">
                            <option value="-1" disabled selected>Chọn ca làm việc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label mt-3">Mật khẩu</label>
                        <input name="MatKhau" value="@ViewBag.TaiKhoan.MatKhau" class="form-control" />
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between mt-5">
                <div>
                    <a asp-action="Index" class="btn btn-secondary" ;"><i class="fas fa-arrow-left"></i> Back to List</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
