@model PBL3.Models.NhanVien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="NhanViens" asp-area="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NhanVienId" />
            <div class="form-group">
                <label asp-for="TenNhanVien" class="control-label"></label>
                <input asp-for="TenNhanVien" class="form-control" />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiNv" class="control-label"></label>
                <select asp-for="LoaiNv" class="form-control" asp-items="ViewBag.LoaiNv"></select>
                <span asp-validation-for="LoaiNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanVienQl" class="control-label"></label>
                <select asp-for="NhanVienQl" class="form-control" asp-items="ViewBag.NhanVienQl"></select>
                <span asp-validation-for="NhanVienQl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaId" class="control-label"></label>
                <select asp-for="CaId" class="form-control" asp-items="ViewBag.CaId"></select>
                <span asp-validation-for="CaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
