@model PBL3.Models.NhanVien

@{
    ViewData["Title"] = "Chỉnh sửa nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="NhanViens" asp-action="Index">Quản lí nhân viên</a>
            <span class="breadcrumb-item active">Chỉnh sửa nhân viên</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-area="Admin" asp-controller="NhanViens" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NhanVienId" />
            <div class="form-group">
                <label asp-for="TenNhanVien" class="control-label">Tên nhân viên</label>
                <input asp-for="TenNhanVien" class="form-control" />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">Số điện thoại</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="LoaiNv" class="control-label">Loại nhân viên</label>
                    <select asp-for="LoaiNv" class="form-control" asp-items="ViewBag.LoaiNv"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="NhanVienQl" class="control-label">Nhân viên quản lí</label>
                    <select asp-for="NhanVienQl" class="form-control" asp-items="ViewBag.NhanVienQl">
                        <option value="0">Không có</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CaId" class="control-label">Ca làm</label>
                    <select asp-for="CaId" class="form-control" asp-items="ViewBag.CaId">
                        <option value="0">Chưa xác định</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}