@model IEnumerable<PBL3.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

    <h1 class="text-center my-4">Danh Sách Nhân Viên</h1>

    <div class="d-flex justify-content-center mb-4">
        <a asp-action="Create" class="mx-auto btn btn-success">Create New</a>
    </div>

    <div class="col-lg-12 ">
            <table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>

