@model List<Tuple<Mon, int>>;
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr id="hang_canXoa">
            <td>@item.Item1.TenMon</td>
            <td>
                <input type="number" class="form-control" value="@item.Item2">
            </td>
            <td>@item.Item1.Gia.Value.ToString("#.##0")</td>
            <td>@(item.Item1.Gia * item.Item2)</td>
            <td><button onclick="deleteRow('hang_canXoa')" class="btn btn-danger">Xóa</button></td>
        </tr>
    }
}


<script>
    function deleteRow(id) {
        var row = document.getElementById(id);
        if (row) {
            row.remove();
            updateTotal();
        }
    }
    //function updateTotal(row, price) {
    //    let total = 0;
    //    const rows = document.querySelectorAll("#tr");
    //    rows.forEach(function (row) {
    //        const price = row.cells[2].innerText;
    //        const quantity = row.cells[1].children[0].value;
    //        row.cells[3].innerText = price * quantity;
    //        total += price * quantity;
    //    });
    //    document.getElementById("total-price").innerText = total;
    //    document.getElementById("TongTien").innerText = total;
    //    document.getElementById("TienKhachTra").innerText = total - GiamGia.value / 100 * total;
    //}

</script>