@model PBL3.Models.LoaiMon

@{
    ViewData["Title"] = "Chỉnh sửa loại món";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="LoaiMons" asp-action="Index">Quản lí loại món</a>
            <span class="breadcrumb-item active">Chỉnh sửa loại món</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LoaiMonId" />
            <div class="form-group">
                <label asp-for="TenLoaiMon" class="control-label"></label>
                <input asp-for="TenLoaiMon" class="form-control" />
                <span asp-validation-for="TenLoaiMon" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
