@using System.Web;
@model Date

@{
    ViewData["Title"] = "Thống kê";
    var data = ViewBag.Data;
    var option = (int)ViewBag.Option;

}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="ThongKe" asp-action="Index">Quản lí thống kê</a>
            <span class="breadcrumb-item active">Thống kê theo tháng hiện tại</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <form asp-action="index" class="d-md-flex row">
                    <div class="input-affix m-b-10 col-5">
                        <input asp-for="Month" placeholder="Tháng" class="form-control" />
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="input-affix m-b-10 col-5">
                        <input asp-for="Year" placeholder="Năm" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="m-b-10 col-2">
                        <input type="submit" value="Lọc" class="btn btn-info m-r-5" />
                    </div>
                </form>
            </div>
            <div class="col-lg-4 text-right">
                <a asp-action="Index" asp-route-sttByYear="1" method="get" class="btn btn-primary">
                    <span>Thống kê các năm gần đây</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <p class="font-weight-bold text-center" style="font-size:1.5rem">Biểu đồ doanh số</p>
            </div>
            <div class="card-body">
                <div class="line-chart-container">
                    <div class="line-chart" style="width:70%">
                        <canvas id="myLineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@section Scripts{
    <script>
        var years = [];
        var yearData = [];
        var yearFund = [];
        @if (data.Count > 0)
        {
            foreach (var item in data)
            {
                if (option == 1)
                {
                    @:years.push('@item.Day');
                }
                if (option == 2)
                {
                    @:years.push('@item.Month');
                }
                if (option == 3)
                {
                    @:years.push('@item.Year');
                }
                
                @:yearData.push('@item.Total');

                decimal von = item.Total * (decimal)0.3;
                @:yearFund.push('@von');
            }
        }
        var ctx = document.getElementById('myLineChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: years,
                datasets: [{
                    label: 'Doanh thu',
                    data: yearData,
                    backgroundColor: 'transparent',
                    borderColor: 'red'
                },
                {
                    label: 'vốn',
                    data: yearFund,
                    backgroundColor: 'transparent',
                    borderColor: 'yellow'

                }]
            },
            options: {
                
                scales: { 
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return value.toLocaleString() + ' VNĐ'; // định dạng chuỗi nhãn trục y
                            }
                        },
                        scaleLabel: {
                            display: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false, // không bỏ qua các nhãn trục x
                        },
                        scaleLabel: {
                            display: true,
                            labelString: `@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.LabelString))`
                        }
                    }]
                }
            }
        });
    </script>
}

                            