@using System.Web;
@model Date

@{
    ViewData["Title"] = "Thống kê";
    var data =ViewBag.Data;

}
<body>
    <form asp-controller="ThongKe" asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="Month"></label>
                <input asp-for="Month" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Year"></label>
                <input asp-for="Year" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-submit">Lọc</button>
    </form>
    <div class="line-chart-container">
        <div class="line-chart" style="width:70%">
            <h2 class="text-center">Biểu đồ lợi nhuận</h2>
            <canvas id="myLineChart"></canvas>
        </div>
    </div>
</body>
@section Scripts{
    <script>
        var years = [];
        var yearData = [];
        var yearFund = [];
        @if (data.Count > 0)
        {
            foreach (var item in data)
            {
                @:years.push('@item.Day');
                @:yearData.push('@item.Total');

                decimal von = item.Total * (decimal)0.3;
                @:yearFund.push('@von');
            }
        }
                var ctx = document.getElementById('myLineChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: years,
                datasets: [{
                    label: 'Doanh thu',
                    data: yearData,
                    backgroundColor: 'transparent',
                    borderColor: 'red'
                },
                {
                    label: 'vốn',
                    data: yearFund,
                    backgroundColor: 'transparent',
                    borderColor: 'yellow'

                }]
            },
            options: {

                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return value.toLocaleString() + ' VNĐ'; // định dạng chuỗi nhãn trục y
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Doanh thu (triệu VNĐ)'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false, // không bỏ qua các nhãn trục x
                        },
                        scaleLabel: {
                            display: true,
                            labelString: `Tháng ${@data[0].Month} năm ${@data[0].Year}`
                        }
                    }]
                }
            }
        });
    </script>
}